#navbar {
    flex-direction: column;
    /* display: flex; */
    /* align-items: center; */
    /* background-color: black; */
    /* position: absolute; */
    /* top: 0; */
    /* margin: -24px 17px;
    padding: 8px; */
    /* position: sticky; */
}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

#home {

    height: 370px;

    padding: 3px 28px;
}

#home::before {

    height: 480px;


}

#home p {

    font-size: 13px;


}

#client {
    flex-wrap: wrap;
}

#client img {
    width: 66px;
    padding: 2px;
    height: auto;
}

#service {
    flex-direction: column;
}

/* .client-item{
    flex-direction: column; */
/* } */
#service .box {
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
}

#service::before {
    /* content: ""; */
    /* position: absolute; */
    /* background: url(./bg2.jpg) no-repeat center center/cover; */
    height: 64rem;
    /* width: 100%; */
    /* z-index: -1; */
    /* opacity: 0.85; */
    /* top: 0px; */
    /* left: 0px; */
}

#service .box img {
    /* height: 140px; */
    width: 200px;
    /* margin: 9px 9px; */
    display: block;
}

#contact-box form {

    width: 80%;

}

/* #client{
    overflow: hidden;
} */

.h-primary {
    /* font-family: 'Bree Serif', serif; */
    font-size: 2.8rem;
    padding: 48px;
    margin: 9px;
}

.btn {
    font-size: 13px;
    padding: 4px 8px;
}